<!DOCTYPE html>  
<html lang="en">  
  <body>  
    <h1>Comentarios</h1>
    <Table>
    	<tr><td>Nombre:</td><td><input name='txtname'> </br></td></tr>
	    <tr><td>Email: </td><td><input name='txtemail'> </br></td></tr>
	    <tr><td>Comentario:</td><td> <input name='txtcometario'> </br></td></tr>
		<tr><td colspan=2 align='center'><input type='submit' name='btnenviar'> </br></tr>
	</table>
  </body> 
</html>